<<<<<<< HEAD
.single-frame {
  /* max-width: 70%;
  margin: 30px auto;
  overflow: auto;
  min-height: auto;
  border: 1px solid steelblue;
  padding: 30px;
  border-radius: 5px;
  background: #ffffff;
  overflow: hidden; */
  border-radius: 5px;
  float: none!important;
  position: relative;
  left: 0%;
  top: 15%;
  z-index: 0;
  margin-left: 5%;
  margin-right: 4%;
}
#button {
  float: right!important; 
  margin-left: 30%!important;
}
.frame-query {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 54px;
  display: flex;
  align-items: center;

  color: #000000;
}
input[type="radio"]:checked:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #03d5f1;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}
.total-votes {
  font-family: Poppins;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 36px;
  display: flex;
  align-items: center;
  margin-top: 10px;
  color: #20202a;
}
.button-btn {
  width: 18.125rem;
  height: 4.25rem;
  background: #0029fe;
  background-blend-mode: hard-light;
  border-radius: 3.125rem;
  border: none;
  font-family: Poppins;
  font-style: normal;
  font-weight: 800;
  font-size: 1.5rem;
  line-height: 2.25rem;
  color: white;
  align-self: center;
}

#progress {
  width: 100%;
  margin-top: 0px;
  padding: auto;
  margin-left: 6%;
}
#progress-bar {
  height: 9px;
  background-color: #40e0d0;
  border-radius: 10px;
  margin-top: -10px;
}
.p_inline_bar {
  /* for inline progress bar */
  height: 6px !important;
  border-radius: 2vh !important;
  background-color: white !important;
  margin-left: 2.5rem;
  margin-bottom: 1rem;
}
.inline-progress-bar {
  color: #40e0d0;
  border-radius: 1rem;
=======
.single-frame {
  /* max-width: 70%;
  margin: 30px auto;
  overflow: auto;
  min-height: auto;
  border: 1px solid steelblue;
  padding: 30px;
  border-radius: 5px;
  background: #ffffff;
  overflow: hidden; */
  border-radius: 5px;
  float: none!important;
  position: relative;
  left: 0%;
  top: 15%;
  z-index: 0;
  margin-left: 5%;
  margin-right: 4%;
}
#button {
  float: right!important; 
  margin-left: 30%!important;
}
.frame-query {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 54px;
  display: flex;
  align-items: center;

  color: #000000;
}
input[type="radio"]:checked:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #03d5f1;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}
.total-votes {
  font-family: Poppins;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 36px;
  display: flex;
  align-items: center;
  margin-top: 10px;
  color: #20202a;
}
.button-btn {
  width: 18.125rem;
  height: 4.25rem;
  background: #0029fe;
  background-blend-mode: hard-light;
  border-radius: 3.125rem;
  border: none;
  font-family: Poppins;
  font-style: normal;
  font-weight: 800;
  font-size: 1.5rem;
  line-height: 2.25rem;
  color: white;
  align-self: center;
}

#progress {
  width: 100%;
  margin-top: 0px;
  padding: auto;
  margin-left: 6%;
}
#progress-bar {
  height: 9px;
  background-color: #40e0d0;
  border-radius: 10px;
  margin-top: -10px;
}
.p_inline_bar {
  /* for inline progress bar */
  height: 6px !important;
  border-radius: 2vh !important;
  background-color: white !important;
  margin-left: 2.5rem;
  margin-bottom: 1rem;
}
.inline-progress-bar {
  color: #40e0d0;
  border-radius: 1rem;
>>>>>>> e04605f3a33ec8c101ce1515f3b3e234a3f94fff
}