
.profile{
    width : 100px;
    height:auto;
    padding:10px;
    margin:15px;
    border-radius: 20px;
}

#profile_pic{
    border-radius: 2.5rem;
    width: 3.963rem;
    height: 3.813rem;
    margin: auto;
    text-align: center;
    padding: 0.6rem;
    font-size: 24px!important;
    background-color: #0029fe;
    
  }