.createQuery_wrap {
  /* background-color: aqua; */
  float: left;
  width: 100%;
  margin-top: 2%;
  margin-left: 3%!important;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  position: relative;
  top: 5%;
}
.createQuery_form{
    width: 100%;
}
p{
    width: 100%;
}
.optionsButton_wrap{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.optionWrap{
    width: 50%!important;
    display: flex;
    flex-direction: column!important;
}
#buttonWrap{
    margin-top: 1.375rem;
}
.submitButton{
    float: left;
    margin: 1rem;
}
p:nth-of-type(2){
    margin-top: 2%;
}
.styled{
    margin-top: 1.375rem;
    width: 100%;
    font-family:'Times New Roman', Times, serif;
    font-weight: bold;
}
.styled  p{
    color:blue;
    font-size :x-large;
    font-family: inherit;
    font-weight: bold;    
}